<div class="feed">

  <!-- <div class="feed-content" *ngIf="feed">
    <ul class="feed-ul">
      <li *ngFor='let f of feed.results' class="feed-li">
        <a [routerLink]="[f.data['post.type'].value, f.uid]" class="feed-a">
          <img class="feed-img" [src]="f.data['post.cover'].value[0].image.value.main.url"
          [style.width]="f.data['post.cover'].value[0].width.value + 'vw'"
          [style.margin-left]="f.data['post.cover'].value[0].left.value + 'vw'"
          alt="" >
        </a>
      </li>
    </ul>
  </div> -->

</div>
